VITE_THEME_CONFIG_PATH=theme-config.json
VITE_PRIVACY_POLICY_URL=https://www.plastica-s.ru/terms/policy/
VITE_PERSONAL_DATA_CONSENT_URL=https://www.plastica-s.ru/terms/agreement/
VITE_LOGO_PATH=logo.png
VITE_CLINIC_NAME=Стоматология "Альдента"
